body {
background-color: darkviolet;
color: white;
}
h1 {
text-align: center;
font-size: 95px;	
}

main {
font-size: 45px;	
}

.d {
text-align: center;	
}

footer {
text-align: center;	
}