body {
background-color: yellowgreen;	
}

h1 {
text-align: center;	
font-size: 85px;
}

p {
text-align: center;
font-size: 55px;
}

.samsung1 {
margin-top: 15px;
margin-bottom: 45px;	
}

h2 {
text-align: center;	
}

.samsung2 {
margin-bottom: 45px;	
}

.samsung3 {
margin-bottom: 45px;	
}

nav {
font-size: 40px;
text-align: center;		
}
