body {
background-color: yellowgreen;	
}

h1 {
text-align: center;	
font-size: 85px;
}

p {
text-align: center;
font-size: 55px;
}

.samsung1 {
margin-top: 15px;
margin-bottom: 45px;
width: 560px; 
height: 315px;
display: block;
margin: auto;
}

h2 {
text-align: center;	
}

.samsung2 {
margin-bottom: 45px;
width: 560px; 
height: 315px;
text-align: center;			
}

.samsung3 {
margin-bottom: 45px;
width: 560px; 
height: 315px;	
text-align: center;		
}

/*iframe {
margin-top: 15px;
margin-bottom: 45px;
width: 565px; 
height: 317px;
display: block;
margin: auto;	
}*/

nav {
font-size: 40px;
text-align: center;		
}

footer {
text-align: center;	
}

.d {
font-size: 20px;	
}

.iphone1 {
width: 560px; 
height: 315px;	
text-align: center;	
}

.iphone2 {
width: 560px; 
height: 315px;	
text-align: center;	
}

main {
text-align: center;	
}
