body {
background-color: darkviolet;
color: white;
font-family: monospace;
}

h1 {
text-align: center;
font-size: 95px;	
}

main {
font-size: 33px;	
}

.d {
text-align: center;	
}

footer {
text-align: center;	
}

h2 {
font-size: 45px;
font-weight: bold;	
}