body {
background-color: darkviolet;
color: white;
font-family: monospace;
font-size: 30px;
text-align: left;
}

/* unvisited link */
a:link {
 color: white;
}

/* visited link */
a:visited {
 color: cyan;
}

/* mouse over link */
a:hover {
 color: red;
}

/* selected link */
a:active {
 color: lime;
}

footer{
text-align: center;	
}

h1 {
text-align: center;	
}

ul {
margin-bottom: -10px;	
}

.d {
font-size: 20px;	
}